<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) 2017 Moez Bhatti <charles.bhatti@gmail.com>
  ~
  ~ This file is part of messenger.
  ~
  ~ messenger is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ messenger is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with messenger.  If not, see <http://www.gnu.org/licenses/>.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- Used for starting foreground service for backup/restore on Android P+ -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- Used for starting foreground service for data sync on Android 14+ -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- WRITE_EXTERNAL_STORAGE is only needed for Android 12 and below -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <!-- Android 13+ (API 33+) requires granular media permissions for reading media files -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_SMS" />

    <application
        android:name="com.charles.messenger.common.QKApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppLaunchTheme">

        <!-- Resolve conflict between play-services-ads-lite and play-services-measurement-api -->
        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/gma_ad_services_config"
            tools:replace="android:resource" />

        <activity
            android:name="com.charles.messenger.feature.main.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name="com.charles.messenger.feature.compose.ComposeActivity"
            android:exported="true"
            android:parentActivityName="com.charles.messenger.feature.main.MainActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
                <data android:scheme="sms_body" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/x-vcard" />
            </intent-filter>

            <meta-data
                android:name="android.service.chooser.chooser_target_service"
                android:value=".common.util.QkChooserTargetService" />
        </activity>
        <activity
            android:name="com.charles.messenger.feature.settings.SettingsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.charles.messenger.feature.plus.PlusActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.charles.messenger.feature.gallery.GalleryActivity"
            android:theme="@style/AppTheme.Black" />
        <activity
            android:name="com.charles.messenger.feature.conversationinfo.ConversationInfoActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.charles.messenger.feature.notificationprefs.NotificationPrefsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.charles.messenger.feature.blocking.BlockingActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.charles.messenger.feature.rewards.RewardsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.charles.messenger.feature.qkreply.QkReplyActivity"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:theme="@style/AppThemeDialog"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.charles.messenger.feature.scheduled.ScheduledActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.charles.messenger.feature.backup.BackupActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.charles.messenger.feature.contacts.ContactsActivity"
            android:windowSoftInputMode="adjustPan" />

        <receiver android:name="com.charles.messenger.receiver.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.charles.messenger.receiver.DefaultSmsChangedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.action.DEFAULT_SMS_PACKAGE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.charles.messenger.receiver.DeleteMessagesReceiver"
            android:exported="false" />
        <receiver
            android:name="com.charles.messenger.receiver.SmsReceiver"
            android:permission="android.permission.BROADCAST_SMS"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.charles.messenger.receiver.MmsReceiver"
            android:permission="android.permission.BROADCAST_WAP_PUSH"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />
                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.charles.messenger.receiver.SmsSentReceiver"
            android:exported="false" />
        <receiver android:name="com.charles.messenger.receiver.SmsDeliveredReceiver"
            android:exported="false" />
        <receiver
            android:name="com.charles.messenger.receiver.MmsSentReceiver"
            android:taskAffinity="SMS.MMS_SENT"
            android:exported="false" />
        <receiver
            android:name="com.charles.messenger.receiver.MmsUpdatedReceiver"
            android:taskAffinity="SMS.MMS_UPDATED"
            android:exported="false" />
        <receiver
            android:name="com.charles.messenger.receiver.MmsReceivedReceiver"
            android:taskAffinity="com.klinker.android.messaging.MMS_RECEIVED"
            android:exported="false" />
        <receiver android:name="com.charles.messenger.receiver.MarkArchivedReceiver"
            android:exported="false" />
        <receiver android:name="com.charles.messenger.receiver.BlockThreadReceiver"
            android:exported="false" />
        <receiver android:name="com.charles.messenger.receiver.MarkSeenReceiver"
            android:exported="false" />
        <receiver android:name="com.charles.messenger.receiver.MarkReadReceiver"
            android:exported="false" />
        <receiver android:name="com.charles.messenger.receiver.RemoteMessagingReceiver"
            android:exported="false" />
        <receiver android:name="com.charles.messenger.receiver.NightModeReceiver"
            android:exported="false" />
        <receiver android:name="com.charles.messenger.receiver.SmsProviderChangedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.action.EXTERNAL_PROVIDER_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.charles.messenger.receiver.SendScheduledMessageReceiver"
            android:exported="false" />
        <receiver android:name="com.charles.messenger.feature.widget.WidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="SMS.intent.action.ACTION_NOTIFY_DATASET_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <receiver android:name="com.charles.messenger.receiver.SendSmsReceiver"
            android:exported="false" />
        <receiver android:name="com.charles.messenger.receiver.AiAutoReplyReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.charles.messenger.AI_AUTO_REPLY" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.charles.messenger.receiver.DisableAutoReplyReceiver"
            android:exported="false" />

        <service android:name="com.android.mms.transaction.TransactionService"
            android:exported="false" />
        <service android:name="com.charles.messenger.feature.backup.RestoreBackupService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
        <service
            android:name="com.charles.messenger.feature.widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />
        <service
            android:name="com.charles.messenger.service.AutoDeleteService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />
        <service
            android:name="com.charles.messenger.service.WebSyncService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />
        <service
            android:name="com.charles.messenger.service.FullSyncJobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />
        <service
            android:name="com.charles.messenger.service.HeadlessSmsSendService"
            android:exported="true"
            android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </service>
        <service
            android:name="com.charles.messenger.common.util.QkChooserTargetService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_CHOOSER_TARGET_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.chooser.ChooserTargetService" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.callcontrol.datashare.messaging"
            android:value="true" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${ADMOB_APP_ID}"/>

    </application>

</manifest>
